
// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

button {
  white-space: nowrap;
}

.row {
  @extend .align-items-start;
}

.alert.show {
  animation: slide-up 250ms;
  opacity: 1;
}

.alert.hide {
  animation: fade-out 450ms;
  opacity: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}